.khoji-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    width: 100%;
  }
  
  .khoji-input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 10px;
    height: 100%;
  }
  
  .khoji-output-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 10px;
    height: 100%;
  }

  .input-text {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #636464;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    height: 90%;
    margin-bottom: 10px;
    margin-top: 15px;
}
  
  .output-text {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #636464;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    height: 38%;
    background-color: #f0f0f0;
    margin-bottom: 15px;
  }

  .output-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .analyze-btn {
    height: 40px;
    width: 50%;
    margin: 0 auto;
    background-color: #dc3545;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}


.analyze-btn:hover {
    background-color: #740f19;
    opacity: 0.9;
} 

.analyze-btn:active {
  transform: scale(0.98);
}
